.stat-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  --stat-button-vertical-position: 10%;
}

.stat-page__actions {
  --row-vertical-position: 12%;
  --row-gap: 2%;
}

