.pet-display {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: var(--pet-display-top, 25%);
  width: var(--pet-display-size, 30%);
  aspect-ratio: 1;
  /* Глобальные настройки размера и расположения питомца */
  --pet-display-top: 30%;
  --pet-display-size: 40%;
  transition: none;
}

.pet-display__sprite {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1px;
}

.pet-display__part {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.pet-display__part--body {
  left: 50%;
  top: 50%;
  z-index: 2;
  /* width и height задаются через inline стили для поддержки scale */
  font-size: 30em;
  transition: none;
}

.pet-display__part--hat {
  z-index: 3;
  font-size: 20em;
}

.pet-display__part--shoe {
  z-index: 1;
  font-size: 20em;
}

.pet-display__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.pet-display__emoji {
  display: block;
  line-height: 1;
}


