.stats-row {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: var(--row-vertical-position, 0);
  --row-vertical-position: 10%;
  --row-gap: 5%;
}

.stats-row .stat-button {
  bottom: 0;
  transform-origin: center center;
}

.stats-row .stat-button:nth-child(1) {
  left: calc(50% - var(--row-gap, 12%) / 2);
  transform: translateX(-100%);
}

.stats-row .stat-button:nth-child(2) {
  left: calc(50% + var(--row-gap, 12%) / 2);
  transform: translateX(0);
}
